body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #19462c; /* green color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 5px; /* Add some space between buttons */
}

button:hover {
    background-color: #133622; /* Darker green for hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.5);
}

button:active {
    background-color: #0b2015; /* Even darker blue for active state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Dropdown Styles */
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: none;
    cursor: pointer;
    transition: border-color 0.3s;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select:focus {
    outline: none;
    border-color: #19462c;
    box-shadow: 0 0 5px rgba(0, 255, 34, 0.5);
}

select option {
    padding: 10px;
}

.container {
    text-align: center;
    background-color: white;
    padding: 80px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.button-container {
    display: flex;
    justify-content: center; /* Changed from space-between to center */
    gap: 20px; /* Increased gap for better separation */
}

.controls {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

/* Container Styling */
.image-container {
    position: relative; /* Ensure the container is relatively positioned */
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Marker Styling */
.marker {
    position: absolute; /* Absolutely position markers within the container */
    width: 4px; /* Adjust size as needed */
    height: 4px; /* Adjust size as needed */
    background-color: red; /* Marker color */
    border-radius: 50%; /* Make markers circular */
    transform: translate(-50%, -50%); /* Center the marker */
}

#range-select {
    font-family: Arial, sans-serif;
    padding: 5px 10px;
    margin: 5px;
}

#download-btn {
    flex: 1;
    padding: 8px 18px; /* Reduced from 10px 20px */
    font-size: 14px; /* Reduced from 18px */
    font-weight: bolder;
    color: #19462c;
    background-color: white;
    border: 2px solid #19462c;
    border-radius: 5px; /* Reduced from 25px for a slightly smaller look */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 200px; /* Added to limit the width */
    margin: 18px auto; /* Center the buttons if they don't take full width */
}

#download-btn:hover {
    background-color: #19462c;
    color: white;
}

#download-btn:focus {
    outline: none;
}

#driving-range-image {
    width: 100%;
    max-width: 800px;
    border: 2px solid #313131;
}
