body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
}

.container {
    text-align: center;
    background-color: white;
    padding: 80px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.button-container {
    display: flex;
    justify-content: center; /* Changed from space-between to center */
    gap: 20px; /* Increased gap for better separation */
}

.controls {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
}

.marker {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#club-select {
    font-family: Arial, sans-serif;
}

#download-btn {
    flex: 1;
    padding: 8px 18px; /* Reduced from 10px 20px */
    font-size: 14px; /* Reduced from 18px */
    font-weight: bolder;
    color: #19462c;
    background-color: white;
    border: 2px solid #19462c;
    border-radius: 5px; /* Reduced from 25px for a slightly smaller look */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 200px; /* Added to limit the width */
    margin: 18px auto; /* Center the buttons if they don't take full width */
}

#download-btn:hover {
    background-color: #19462c;
    color: white;
}

#download-btn:focus {
    outline: none;
}

#driving-range-image {
    width: 100%;
    max-width: 800px;
    border: 2px solid #313131;
}
